#ignore these folders
Classification/CustomData/models/
Classification/CustomData/training_plots/
Classification/CustomData/images/train/
Classification/CustomData/images/val/
Classification/CustomData/images/test/
Classification/CustomData/images/classes/drums/images/
Classification/CustomData/images/classes/flute/images/
Classification/CustomData/images/classes/guitar/images/
Classification/CustomData/images/classes/piano/images/
Classification/CustomData/images/classes/trombone/images/
Classification/CustomData/images/classes/violin/images/


ObjectDetection/VOCDetectionData/
